/* ana sayfa */

a {
    color: darkred;
    font-weight: 1000;
    font-size: 1em;
    font-family: Arial, sans-serif;
    margin-left: 15px;
}

.navbar-brand {
    margin-right: 480px;
}

.m1 {
    background-color: rgb(206, 180, 154);
    ;
    padding: 20px 5px;
}

.m1 a {
    color: brown;
}

.m1 a:hover {
    color: #354ebe;

}

.m2 {
    background-color: rgb(220, 216, 209);

}

body {
    background-color: blanchedalmond;
}

h2 {
    padding: 20px;
    color: saddlebrown;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.col-sm-6 {
    color: saddlebrown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-sm-6 {
    color: saddlebrown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    margin-bottom: 20px;
    text-align: left;
    font-size: 19px;
}

img {
    padding-left: 50px;
}

h1 {
    color: sienna;
    font-family: Arial Black، Impact، Verdana، Helvetica Neue Bold، Lato;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 20px;
}

/* cv */

.Yeterlilik {
    list-style-type: square;
    font-family: Open Sans، Roboto، Source Sans Pro، Helvetica Neue Regular، Lato Regular، PT Sans، Montserrat;
    font-weight: bold;
    color: rgb(193, 142, 70);

}

.Sosyal {
    list-style-type: square;
    font-family: Open Sans، Roboto، Source Sans Pro، Helvetica Neue Regular، Lato Regular، PT Sans، Montserrat;
    font-weight: bold;
    color: rgb(193, 142, 70);

}


.footer {
    background-color: rgb(235, 206, 132);
    color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer p:hover {
    color: #354ebe;
}
/* login sayfasi */

.login-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.title {
    text-align: right ;
    align-items: center;
    text-decoration: underline;   
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 60% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.loginImg {
    align-items: left;
}
 .forgot-password{ 
padding-left:50px;
}
 .btn{
    float: right;
    padding-left:150px;
    font-size: 20px;

 }

/* ilgi sayfasi */
  .kitap{
    padding: 20px 5px;
    color: saddlebrown;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.film{
    padding: 20px 5px;
    color: saddlebrown;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
   
}

.foto{
     padding: 20px 5px;
    color: saddlebrown;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

.kit{
    list-style-type: square;
    font-family: Open Sans، Roboto، Source Sans Pro، Helvetica Neue Regular، Lato Regular، PT Sans، Montserrat;
    font-weight: bold;
    color: rgb(193, 142, 70);

} 

p{
    font-family: Open Sans، Roboto، Source Sans Pro، Helvetica Neue Regular، Lato Regular، PT Sans، Montserrat;
    font-weight: bold;
    color: rgb(193, 142, 70);

}
/* ulkem sayfasi */

h3 {
    color: sienna;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: bold;
    text-align: left;
}

.bilgi {
    text-align: justify;
    padding-left: 20px;
    font-family: Open Sans، Roboto، Source Sans Pro، Helvetica Neue Regular، Lato Regular، PT Sans، Montserrat;
    color: rgb(193, 142, 70);
    font-weight: bolder;
}

h4 {
    color: sienna;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
}

.Taiz {
    text-align: justify;
    padding-left: 20px;
    font-family: Open Sans، Roboto، Source Sans Pro، Helvetica Neue Regular، Lato Regular، PT Sans، Montserrat;
    color: rgb(193, 142, 70);
    font-weight: bolder;
}
#old_sanaa{
    padding-left: 40px;

}
#bukshan{
    padding-left: 40px;

}
#shibam{
    padding-left: 40px;
 
}
#socatra{
    padding-left: 40px;

}

/* slider */
.slider .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.slider .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.slider .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.slider .carousel-item h2{
	font-size: 80px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
.slider .carousel-item p{
	font-size: 30px;
	margin:0;
	color: #eeeeee;
	opacity:0;
}
.slider .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.slider .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.slider .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.slider .carousel-indicators{
	position: relative;
	margin:0;
}

.slider .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}
.slider .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.slider .carousel-control-next, 
.slider .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.slider .carousel-control-next:hover, 
.slider .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.slider .carousel-control-next img, 
.slider .carousel-control-prev img{
   width: 30px;
}
.slider .carousel-control-next{
	right: -90px;
}
.slider .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 767px){
  .slider .carousel-control-next, 
  .slider .carousel-control-prev{
  	display: none;
  }
  .slider .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .slider .carousel-item h2{
  	font-size: 45px;
  }
  .slider .carousel-item p{
  	font-size: 22px;
  }
}
/* end of test slider */

  


