a{
    color:darkred;
    font-weight: 1000;
    font-size: 1em;
    font-family:Arial, sans-serif;
    margin-left:20px;
}

.navbar-brand {
    margin-right: 470px;
  }
.m1 {
    background-color: blanchedalmond;
    padding: 20px 5px; 
}

.m1 a {
    color: brown;
}

.m1 a:hover {
    color: black;
}

.m2{
    background-color: blanchedalmond;

}

body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
}
h2{
    padding: 20px 5px; 
color:saddlebrown;
}

.col-sm-6{
    color:saddlebrown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.col-sm-6{
    color:saddlebrown;
    font-family:Georgia, 'Times New Roman', Times, serif;
    float: left;
    margin-bottom: 20px;
    text-align: left;
    font-size:19px ;
}

img{
padding-left:50px ;
}